:host {
    height: 100%;
}
ag-grid-angular {
    min-height: 150px; 
    height: calc(100% - 50px);
}
.selected {
    width: 70%;
}
.not-selected {
    width: 100%;
}

.tableRowDrawer
{  
    position: sticky;
    min-height: 28.75rem;
    width: 30%;
    left: 70%;
    bottom: 68px;
}